.happy-switch {
  display: inline-block;
  width: 45px;
  height: 20px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  border-radius: 13px;
  box-shadow: 1px 1px 1px #ccc;
}
.happy-switch .switch-toggle {
  position: relative;
  left: 0;
  width: 42%;
  height: 100%;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 1px 1px 1px #aaa;
}
.happy-switch.small {
  width: 35px;
  height: 15px;
}
.happy-switch.on {
  background-color: #a3be8c;
}
.happy-switch.off {
  background-color: #bf616a;
}
.happy-switch.on .switch-toggle {
  animation: hapilly-move-in 0.5s forwards;
}
.happy-switch.off .switch-toggle {
  animation: hapilly-move-out 0.5s forwards;
}
.happy-switch.disabled {
  cursor: not-allowed;
}
@keyframes hapilly-move-in {
  0% {
    left: 0;
    width: 42%;
  }
  50% {
    left: 0;
    width: 100%;
  }
  100% {
    left: 58%;
    width: 42%;
  }
}
@keyframes hapilly-move-out {
  0% {
    left: 58%;
    width: 42%;
  }
  50% {
    left: 0;
    width: 100%;
  }
  100% {
    left: 0;
    width: 42%;
  }
}
